{% load static i18n %}
{% load avatar %}

<header class="fixed top-0 left-16 right-0 bg-gray-100 z-30 h-16">
    <div class="flex items-center justify-between w-full h-full px-4 py-2">
        <!-- Left Section: Module Name -->
        <h1 class="text-lg text-brand-deep-purple font-medium">
            <a href="{% url 'labs:overview' %}" class="hover:underline">{{ header_title|default:"Connect Labs" }}</a>
        </h1>

        {% if request.user.is_authenticated %}
        <!-- Right Section: Org, Profile Dropdown -->
        <div class="flex items-center gap-x-2">
            <!-- Labs Context Selector -->
            {% include "labs/context_selector.html" %}

            <!-- User Profile -->
            <div x-data="{ open: false }" @click.away="open = false" class="relative">
                <button @click="open = !open" class="focus:outline-none">
                    <div class="cursor-pointer overflow-hidden">
                        {% user_avatar user=request.user size="small" color_classes="bg-brand-cornflower-blue text-white" %}
                    </div>
                </button>

                <!-- User Profile Selector -->
                <div x-show="open" x-transition.opacity x-cloak class="absolute top-12 right-0 min-w-56 w-56 bg-white shadow rounded-lg z-50">
                    <ul class="p-2 w-full">
                        <li class="p-2 text-left">
                            <p class="text-brand-deep-purple font-medium">{{ request.user.username }}</p>
                            {% if request.org %}
                                <span class="text-gray-400 text-sm">{{ request.org_membership.role }}</span>
                            {% endif %}
                        </li>
                        <li class="p-2">
                          <a class="cursor-pointer" href="{% url 'labs:logout' %}">
                            <div class="bg-brand-indigo text-white px-8 py-2 rounded-lg shadow-md hover:bg-blue-800 transition">
                              {% translate "Logout" %}
                            </div>
                          </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        {% else %}
        <div class="flex items-center gap-x-4">
            <a id="log-in-link" class="text-brand-deep-purple font-medium"
             href="{% url 'labs:login' %}">{% translate "Sign In" %}</a>
        </div>
        {% endif %}
    </div>
</header>
